h1 {
    border: thin solid transparent;
}
h2 {
	font-size: 2.6em;
	color: purple;
	background-color: black;
	border: thin solid;
	text-align: center;
}

p {
    color: purple;
    font-size: 1.3em;
}